<div style="display: block;">
  <div class="row">
    <div class="col-md-4">
    <canvas baseChart height="30vh" width="80vw"
      [data]="doughnutChartData"
      [labels]="doughnutChartLabels"
      [chartType]="doughnutChartType">
    </canvas>
    
    </div>
    <div class="col-md-4">
      <svg style=" padding-top:24px" width="60%" height="60%"  viewBox="0 0 40 40" class="donut">
        <circle class="donut-hole" cx="20" cy="20" r="15.91549430918954" fill="#fff"></circle>
        <circle class="donut-ring" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5"></circle>
        <circle class="donut-segment donut-segment-2" cx="20" cy="20" r="15.91549430918954" fill="transparent" stroke-width="3.5" stroke-dasharray="69 31" stroke-dashoffset="25"></circle>
        <g class="donut-text donut-text-1">
   
          <text  style="cursor : pointer" y="50%" transform="translate(0, 2)" (click)="loadclk()">
            <tspan x="50%" text-anchor="middle" class="donut-percent">{{processnot.length}}</tspan>   
          </text>
      
          <text y="60%" transform="translate(0, 2)">
            <tspan x="50%" text-anchor="middle" class="donut-data">No.Of Process</tspan>   
          </text>
        </g>
      </svg>
    </div>
    
    
  </div>
</div>

